body {
  background-color: salmon;
}

#sidebar-title {
  color: #3d7e9c;
  font-size: 26px;
  text-shadow: 2px 2px salmon;
}

.choices-row {
  margin-top: 100px;
  
}

.card {
  background-color: #fffff0;
  height: 400px;
}

.card:hover {
  transform: scale(1.1);
  /*background-color: #ffff66;*/
}

#card-name {
  color: #F29C39;
  font-size: 35px;
  text-shadow: 2px 2px #2C5C71;
  text-align: center;
  border-bottom: 1px solid #2C5C71;
}

h1 {
  text-shadow: 2px 2px #3D7E9C, 5px 5px #F29C39;
}

#jsTimer {
  font-family: ;
  font-weight: 700;
  text-align: center;
  color: red;
  text-shadow: 2px 2px #F29C39, 3px 3px #3D7E9C;
  padding-top:50px;
  font-size: 50px;
}

em {
  text-shadow: 2px 2px #3D7E9C;
}

#pizzaSteve {
  height: 300px;
  width: 450px;
}

.masthead {
  padding-top: 4rem;
}